div.sensors,
div.loading {
    height: calc(100% - 70px);
    width: 100%;
}

div.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container,
div.tabOpen {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px;
    height: 100%;
    width: 100%;
    position: relative;
}

div.tabOpen {
    grid-template-columns: calc(100% - 250px) 250px;
}

/* message styles  */

div.message,
div.show,
div.hide {
    position: absolute;
    padding: 1rem 1.5rem;
    border: 2px solid green;
    color: green;
    background-color: lightgreen;
    top: -120px;
    left: calc((100vh - 100px) / 2);
    font-size: 0.7rem;
}

div.show {
    animation: slideIn 0.5s ease alternate;
}

div.hide {
    animation: slideOut 0.5s ease alternate;    
}

@keyframes slideIn {
    from {
        transform: translateY(-120px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-120px);
    }
}

div.sensors {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 130px));
    grid-template-rows: repeat(auto-fit, 220px);
}

div.sensor,
div.new_sensor {
    border-radius: 5px;
    height: 220px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

div.sensor:hover,
div.new_sensor:hover {
    background-color: rgba(21, 31, 44, 0.726);
}

div.sensor:hover p.id {
    color: white;
}

div.icon > img {
    height: 40px;
}

p.id {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 0.8rem;
}

div.actions {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

div.edit,
div.delete {
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
    width: 1.25rem;
    padding: 0.3rem;
    cursor: pointer;
}

div.edit {
    color: green;
}

div.edit:hover {
    background-color: rgb(123, 204, 123);
    border: 1px solid rgb(123, 204, 123);
    color: whitesmoke;
}

div.delete {
    color: tomato;
}

div.delete:hover {
    background-color: tomato;
    border: 1px solid tomato;
    color: whitesmoke;
}

/* pagination styles  */

div.pageContainer {
    grid-area: -2 / 1 / -1 / -1;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
}

div.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

div.page,
div.activePage {
    border: 1px solid lightgray;
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    border-right: 1px solid lightgray;
    cursor: pointer;
    color: skyblue;
}

div.activePage {
    color: white;
    background-color: skyblue;
    border: 1px solid skyblue;
    cursor: default;
}

div.page:hover {
    background-color: rgb(236, 236, 236);
}

/* side styles */

aside.side,
aside.slideIn,
aside.slideOut {
    height: 85%;
    width: 250px;
    background-color:  rgba(21, 31, 44, 0.87);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    position: fixed;
    right: -300px;
}

aside.slideIn {
    animation: slideIn 0.3s ease-in-out alternate;
}

aside.slideOut {
    animation: slideOut 0.15s ease-in-out alternate;
}

@keyframes slideIn {
    from {
        right: -300px;
    }

    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }

    to {
        right: -300px;
    }
}

div.lot {
    text-align: center;
}

div.slotNo {
    font-size: 0.75rem;
}

div.occupied {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.taken,
div.status {
    border: 1px solid green;
    color: green;
    background-color: lightgreen;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
}

div.taken {
    border-color: tomato;
    color: red;
    background-color: lightcoral;
}

p.value {
    font-size: 0.65rem;
}