div.parkingLotDetails {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
    grid-template-rows: 90px auto;
}

div.loading {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

aside.details {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: calc(100vh - 90px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.banner {
    height: 30%;
    width: 100%;
}

p.name {
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(71, 71, 71);
    border-radius: 5px;
}

aside.details > p.name {
    margin-top: 0.2rem;
    padding: 0.3rem;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
}

div.time {
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
    align-items: center;
    font-size: 0.7rem;
}

div.time > p.value {
    padding: 0.3rem;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

div.slotDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 0.7rem;
}

div.noStories,
div.occupancy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.noStories > p.value,
div.occupancy > p.occupancy {
    padding: 0.3rem;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

p.caption {
    font-weight: bold;
    color: rgb(71, 71, 71);
    font-size: 0.7rem;
}

p.occupancy {
    margin-top: 0.7rem;
}

div.servicesProvided {
    width: 80%;
    margin-top: 0.7rem;
}

div.servicesProvided > p.title {
    justify-content: space-between;
}

p.title {
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
    padding: 0.3rem;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

ul.services {
    list-style-type: none;
}

li.service {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.3rem;
    border: 1px solid white;
    cursor: pointer;
}

div.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 5px;
}

p.name {
    font-size: 0.8rem;
}

div.mapButton {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 0.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

div.mapButton > p.text {
    font-size: 0.6rem;
    color: darkgreen;
}

div.mapButton:hover {
    transform: scaleX(1.05);
}

div.map {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.lots {
    height: calc(100vh - 90px);
    overflow-x: hidden;
    overflow-y: scroll;
}

section.lot {
    height: calc(100vh - 90px);
    padding: 1rem;
}

div.slots {
    margin-top: 0.5rem;
    height: 95%;
    width: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(10, calc(90% / 10));
    grid-template-rows: repeat(3, 1fr);
    gap: 0.7rem
}

div.slot,
div.slotOccupied {
    background-color: whitesmoke;
    height: 100%;
    overflow: hidden;
    width: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
}

div.slotOccupied {
    background-color: lightcoral;
}

div.slot:hover {
    background-color: rgb(201, 201, 201);
}

div.slotOccupied:hover {
    background-color: rgb(241, 92, 92);
}

p.label {
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(58, 58, 58);
}

p.lotNumber {
    font-weight: bold;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    border-left: 3px solid green;
    background-color: whitesmoke;
}

div.options,
div.view {
    background-color: white;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(99, 99, 99, 0.2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.2rem;
    border-radius: 3.5px;
    margin-top: 0.3rem;
    transform: translateY(110%);
    position: absolute;
}

div.view {
    transform: translateY(8%);
}

ul.list {
    list-style-type: none;
}

li.option {
    padding: 0.3rem;
    border-radius: 3.5px;
}

p.text {
    font-size: 0.7rem;
}

li.option:hover {
    background-color: rgb(180, 180, 180);
    color: white;
}

div.response,
div.slideIn,
div.slideOut {
    position: absolute;
    left: calc(50% - 150px);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    top: -80px;
}

div.slideIn {
    animation: slideIn 0.5s ease-in-out alternate;
}

@keyframes slideIn {
    from {
        top: -80px;
    } 
    to {
        top: 0;
    }
}

div.slideOut {
    animation: slideOut 0.5s ease-in-out alternate;
}

@keyframes slideOut {
    from {
        top: 0;
    } 
    to {
        top: -80px;
    }
}

/* service side modification styles */
li.service:hover {
    border: 1px solid tomato;
    border-radius: 5px;
    background-color: rgb(255, 179, 165);
}

svg.deleteService {
    margin-left: auto;
    display: none;
}

li.service:hover > svg.deleteService {
    display: block;
}

aside.details > p.name > svg.edit,
div.time svg.edit,
div.noStories svg.edit,
div.occupancy svg.edit,
p.title > svg.edit {
    display: none;
}

aside.details > p.name:hover > svg.edit,
div.time p.value:hover svg.edit,
div.noStories p.value:hover svg.edit,
div.occupancy p.occupancy:hover svg.edit,
p.title:hover > svg.edit {
    display: block;
}

aside.details > p.name:hover,
div.time p.value:hover,
div.noStories p.value:hover,
div.occupancy p.occupancy:hover,
p.title:hover {
    background-color: whitesmoke;
}