aside.sidebar {
    grid-area: 2 / 1 / -1 / 2;
    height: 100%;
    width: 100%;
    background: rgb(21, 31, 44);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

ul.links {
    list-style-type: none;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

a#tab,
a#active {
    text-decoration: none;
    width: 100%;
    height: calc(100% / 6);
}

a#active {
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(50px);
}

li.link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.3rem;
    padding: 0.7rem;
}

p.name {
    color: rgb(243, 243, 243);
    font-size: 0.8rem;
}

footer.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.text {
    font-size: 0.65rem;
    color: rgb(243, 243, 243);
    padding-bottom: 1.5rem;
}