div.dashboard {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 230px 260px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

div.loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.dashboard > div {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.7rem;
}

div.users {
    grid-area: 1 / 1 / 2 / 2;
}

div.sensors {
    grid-area: 1 / 2 / 2 / 3;
}

div.income {
    grid-area: 1 / 3 / 2 / 3;
}

div.occupancy {
    grid-area: 2 / 1 / 2 / 2;
}

div.session_tracking {
    grid-area: 2 / 2 / 3 / 4;
}

div.parking_lots {
    grid-area: 3 / 1 / 3 / 4;
}

div.title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
}

div.icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

p.text {
    font-size: 0.85rem;
}

svg.tool {
    margin-left: auto;
}

div.value {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    margin-top: 0.5rem;
}

div.session_tracking > div.value {
    height: 80%;
}

p.textValue,
p.textValue2 {
    font-size: 4rem;
    font-family: var(--text-value-font);
    font-weight: 700;
    letter-spacing: -10px;
    color: rgb(68, 68, 68);
}

svg.up {
    align-self: end;
}

p.textValue2 {
    font-size: 2rem;
    letter-spacing: -2px;
}

div.occupancy > div.value {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

meter.perc_occu {
    width: 100%;
}

div.parking_lots > div.value {
    align-items: start;
    justify-content: start;
}

div.table {
    width: 100%;
}

div.header {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    background-color: whitesmoke;
    padding: 0.3rem 1rem;
    border-radius: 10px 10px 0 0;
}

ul.titles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.1fr;
    list-style-type: none;
}

li.title {
    color: rgb(104, 104, 104);
    font-weight: bold;
}

div.body {
    width: 100%;
}

ul.parking_lot {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.1fr;
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    height: 60px;
}

li.rate {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

p.val {
    font-size: 0.8rem;
    color: rgb(61, 61, 61);
}

a.lot {
    color: rgb(0, 64, 80);
    transition: transform 0.2s ease-in-out;
}

a.lot:hover {
    transform: translateX(5px);
}