div.dashboard {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 230px 260px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

div.dashboard > div {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.7rem;
}

div.users {
    grid-area: 1 / 1 / 2 / 2;
}

div.sensors {
    grid-area: 1 / 2 / 2 / 3;
}

div.income {
    grid-area: 1 / 3 / 2 / 3;
}

div.occupancy {
    grid-area: 2 / 1 / 2 / 2;
}

div.session_tracking {
    grid-area: 2 / 2 / 3 / 4;
}

div.parking_lots {
    grid-area: 3 / 1 / 3 / 4;
}

div.title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
}

div.icon {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

p.text {
    font-size: 0.85rem;
}

svg.tool {
    margin-left: auto;
}

div.value {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    margin-top: 0.5rem;
}

p.textValue,
p.textValue2 {
    font-size: 4rem;
    font-family: var(--text-value-font);
    font-weight: 700;
    letter-spacing: -10px;
    color: rgb(68, 68, 68);
}

svg.up {
    align-self: end;
}

p.textValue2 {
    font-size: 2rem;
    letter-spacing: -2px;
}

div.occupancy > div.value {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

meter.perc_occu {
    width: 100%;
}
