div.parkinglots,
div.loading {
    height: 100%;
    width: 100%;
}

div.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.parkinglots {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: 50px auto;
    position: relative;
}

div.new {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    align-items: center;
    justify-content: end;
}

button.addLot {
    padding: 0.5rem 1rem;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.75rem;
}

a.lot {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    text-decoration: none;
}

a.lot:hover {
    scale: 1.05;
}

div.image {
    height: 70%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

div.details {
    height: 30%;
    width: 100%;
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.details > p {
    color: rgb(39, 39, 39);
}

p.name {
    font-size: 0.7rem;
    font-weight: bold;
}

p.time {
    font-size: 0.6rem;
}

p.occupancy {
    font-size: 0.7rem;
}

/* registering a new parking lot */

div.registerCont {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(100px);
    border-radius: 10px;
}

div.registerLot {
    height: 100%;
    width: 45%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.header {
    font-weight: bold;
    font-size: 1.2rem;
}